i.fab{
    font-size: 3rem;
}
div.box-items {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: gray;
    height: 150px;
}
.hidden > i{
    display: none !important;
}
.freeze{
    pointer-events: none;
}
.matched{
    pointer-events: none;
}